<div class="form">
<div class="headersDiv"><h1>VEHICLES</h1></div>
    <div>
        <div class="filter-bar">
            <form (ngSubmit)="applyFilters()">
              <input type="number" [(ngModel)]="filterCriteria.hp" name="hp" placeholder="Min Horsepower">
              <input type="number" [(ngModel)]="filterCriteria.acc" name="acc" placeholder="Min Acceleration">
              <input type="number" [(ngModel)]="filterCriteria.mpg" name="mpg" placeholder="Min Miles per a gallon">
              <input type="number" [(ngModel)]="filterCriteria.price" name="price" placeholder="Min price">
              <input type="number" [(ngModel)]="filterCriteria.weight" name="weight" placeholder="Min weight">
              <button type="submit">Apply Filters</button>
            </form>
          </div>
<div class="dataDiv">
    <app-table [headers]="tableHeaders" [data]="vehicles"  (deleteRowEvent)="deleteVehicle($event)"></app-table>
</div>

</div>